@import './general';
@import './normalize';

* {
  box-sizing: border-box;
}

html, body {
  height:100%;
}

header {
	width: 100%;
	height: 56px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.4);
	background: #333;
	color: #FFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 16px;
}

section {
	padding: 20px;
}

.header__menu-toggle {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  color: #FFF;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index:1;
}

.side-nav--visible {
  pointer-events: auto;
}

.side-nav::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.side-nav__container {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: #FFF;
  height: 100%;
  box-shadow: 2px 0 12px rgba(0,0,0,0.4);
  transform: translateX(-102%);
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.side-nav--animatable .side-nav__container {
  transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible.side-nav--animatable .side-nav__container {
  transition: transform 0.33s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible::before {
  opacity: 1;
}

.side-nav--visible .side-nav__container {
  transform: none;
}

.side-nav__hide {
  position: absolute;
  left: 16px;
  top: 16px;
  background: none;
  border: none;
  color: #FFF;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
}

.side-nav__header {
  height: 200px;
  background: #EA2663;
  color: #FFF;
  display: flex;
  padding: 16px;
  align-items: flex-end;
  font-size: 24px;
}

.side-nav__content {
  padding-top: 32px;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.side-nav__content a {
	text-decoration: none;
	color:black;
}

.side-nav__content li {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}

.side-nav__content li:hover {
  background: #CCC;
}

sc-view {
  contain: layout;
  position: relative;
  width: 100%;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: transform 0.3s cubic-bezier(0,0,0.3,1),
    opacity 0.3s cubic-bezier(0,0,0.3,1);
  z-index:0;
  display:block;
  zoom: 1;
  overflow:hidden;
}

sc-view.visible {
  opacity: 1;
  pointer-events: auto;
  transform: none;
  min-height:100%;
  line-height: initial;
  overflow:inherit;
}

sc-view[remote]::before {
  opacity: 0;
  pointer-events: none;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

sc-view[remote]::after {
  opacity: 0;
  pointer-events: none;
  content: '';
  position: fixed;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  background: url(../images/spinner.png) center center no-repeat;
  background-size: 40px 40px;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

sc-view[remote].pending::before,
sc-view[remote].pending::after {
  opacity: 1;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
