@@include('../include/_head.html', {
    "url": "https://derekshull.github.io/styleguide"
})

		<sc-view class="view-home visible" route="^/$">
			<h1>Introduction</h1>
			<p>
				This styleguide is a design language created to provide visual principles for BeaconSage.  It's an ever-changing document that lives at the intersection of science and creativity.  The styleguide draws from our team's experiences and other resources, such as Material Design, to provide what we believe will create great experiences for visitors.
			</p>
		</sc-view>
  		<sc-view remote class="view-colors" route="^/colors/(.*)"></sc-view>
  		<sc-view remote class="view-buttons" route="^/buttons/(.*)"></sc-view>

		<sc-router></sc-router>

@@include('../include/_footer.html', {
    "url": "https://derekshull.github.io/styleguide"
})