@import '../../scss/general';
@import '../../scss/normalize-partials/button';

:host {
	@include z1();
	border-radius: 10px;
	background:$white;
	contain: content;
	cursor: pointer;
	display: inline-block;
	padding: 6px 14px;
	transition: box-shadow 0.1s;
	appearance: none;
	border: 4px solid $black;

}

/*Basic button properties*/
button {
	background: $white;
	border: 0px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 14px;
}

/*STANDARD BUTTON STYLES*/
@media screen and (min-width: $break-medium) {
	/* Only do hover on desktop since mobile devices don't support hover.*/
	:host(:hover) {
		@include z2();
	}
}

:host(:active) {
	@include z0();
}

:host button:focus {
  	outline-color: $black;
  	outline-style: dashed;
  	outline-width: 1px;
}

:host([disabled]) {
	background: $white;
	border: 4px solid $black;
	@include z0();
	pointer-events: none;
	cursor:not-allowed;
}

:host([disabled]) button {
	background: $white;
	outline:none;
	cursor:not-allowed;
	color: $black;
	pointer-events: none;
}

/*PRIMARY BUTTON STYLES*/

:host([primary]) {
	background: $primary;
	border: 4px solid $primary-100;
	@include z2();
}

:host([primary]) button {
	background: $primary;
	color: $white;
}

:host([primary]) button:focus {
  	outline-color: $white;
  	outline-style: dashed;
  	outline-width: 1px;
}

@media screen and (min-width: $break-medium) {
	/* Only do hover on desktop since mobile devices don't support hover.*/
	:host([primary]:hover) {
		@include z4();
	}
}

:host([primary]:active) {
	@include z0();
}

:host([primary][disabled]) {
	background: $primary-200;
	border: 4px solid $primary-200;
	@include z0();
	pointer-events: none;
	cursor:not-allowed;
}

:host([primary][disabled]) button {
	background: $primary-200;
	outline:none;
	cursor:not-allowed;
	color: $disabled-font;
	pointer-events: none;
}


/*SECONDARY BUTTON STYLES */
:host([secondary]) {
	background: $secondary;
	border: 4px solid $secondary;
	@include z1();
}

:host([secondary]) button {
	background: $secondary;
	color: $white;
}

:host([secondary]) button:focus {
  	outline-color: $white;
  	outline-style: dashed;
  	outline-width: 1px;
}

@media screen and (min-width: $break-medium) {
	/* Only do hover on desktop since mobile devices don't support hover.*/
	:host([secondary]:hover) {
		@include z2();
	}
}

:host([secondary]:active) {
	@include z0();
}

:host([secondary][disabled]) {
	background: $secondary-200;
	border: 4px solid $secondary-200;
	@include z0();
	pointer-events: none;
	cursor:not-allowed;
}

:host([secondary][disabled]) button {
	background: $secondary-200;
	outline:none;
	cursor:not-allowed;
	color: $disabled-font;
	pointer-events: none;
}

/*BIG SECONDARY BUTTON STYLES */
:host([secondary][big]) {
	background: $secondary;
	border: 4px solid $secondary;
	@include z1();
	padding: 14px 14px;
}

:host([secondary][big]) button {
	background: $secondary;
	color: $white;
	font-size: 18px;
}

:host([secondary][big]) button:focus {
  	outline-color: $white;
  	outline-style: dashed;
  	outline-width: 1px;
}

@media screen and (min-width: $break-medium) {
	/* Only do hover on desktop since mobile devices don't support hover.*/
	:host([secondary][big]:hover) {
		@include z2();
	}
}

:host([secondary][big]:active) {
	@include z0();
}

:host([secondary][big][disabled]) {
	background: $secondary-200;
	border: 4px solid $secondary-200;
	@include z0();
	pointer-events: none;
	cursor:not-allowed;
}

:host([secondary][big][disabled]) button {
	background: $secondary-200;
	outline:none;
	cursor:not-allowed;
	color: $disabled-font;
	pointer-events: none;
}


