@@include('../../include/_head.html', {
    "url": ""
})

		<sc-view remote class="view-home" route="^/$"></sc-view>
  		<sc-view remote class="view-colors" route="^/colors/(.*)"></sc-view>
  		<sc-view class="view-buttons visible" route="^/buttons/(.*)">
  			<h1>Buttons</h1>
  			<section>
  				<h2>Standard</h2>
  				<article>
  					<h3>When to Use</h3>
  					<p>This is when to use a standard button.</p>
  				</article>
  				<article>
  					<h3>When NOT to Use</h3>
  					<p>This is when <strong>not</strong> to use a standard button.</p>
  				</article>
				<p>
					<aris-button>Standard</aris-button>
					<aris-button disabled>Standard (Disabled)</aris-button>
				</p>
				<iframe height='127' scrolling='no' src='//codepen.io/derekshull/embed/ozwKaP/?height=127&theme-id=7527&default-tab=html&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe>
			</section>
			<section>
  				<h2>Primary</h2>
  				<article>
  					<h3>When to Use</h3>
  					<p>This is when to use a primary button.</p>
  				</article>
  				<article>
  					<h3>When NOT to Use</h3>
  					<p>This is when <strong>not</strong> to use a primary button.</p>
  				</article>
				<p>
					<aris-button primary>Primary</aris-button>
					<aris-button primary disabled>Primary (Disabled)</aris-button>
				</p>
				<iframe height='127' scrolling='no' src='//codepen.io/derekshull/embed/gwGQqx/?height=127&theme-id=7527&default-tab=html&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe>
			</section>
			<section>
  				<h2>Secondary</h2>
  				<article>
  					<h3>When to Use</h3>
  					<p>This is when to use a secondary button.</p>
  				</article>
  				<article>
  					<h3>When NOT to Use</h3>
  					<p>This is when <strong>not</strong> to use a secondary button.</p>
  				</article>
				<p>
					<aris-button secondary>Secondary</aris-button>
					<aris-button secondary disabled>Secondary (Disabled)</aris-button>
				</p>
				<iframe height='127' scrolling='no' src='//codepen.io/derekshull/embed/pEWQYQ/?height=127&theme-id=7527&default-tab=html&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe>
			</section>
  		</sc-view>
  		<sc-view remote class="view-inputs" route="^/inputs/(.*)"></sc-view>

		<sc-router></sc-router>

@@include('../../include/_footer.html', {
    "url": ""
})