@@include('../../include/_head.html', {
    "url": ""
})

		<sc-view remote class="view-home" route="^/$"></sc-view>
  		<sc-view remote class="view-colors" route="^/colors/(.*)"></sc-view>
  		<sc-view class="view-buttons visible" route="^/buttons/(.*)">
  			<h1>Buttons</h1>
  			<section>
  				<h2>Standard</h2>
				<p>
					<aris-button>Standard</aris-button>
					<aris-button disabled>Standard (Disabled)</aris-button>
				</p>
				<p data-height="107" data-theme-id="7527" data-slug-hash="ozwKaP" data-default-tab="html" data-user="derekshull" data-embed-version="2" class="codepen"></p>
			</section>
			<section>
  				<h2>Primary</h2>
				<p>
					<aris-button primary>Primary</aris-button>
					<aris-button primary disabled>Primary (Disabled)</aris-button>
				</p>
				<p data-height="107" data-theme-id="7527" data-slug-hash="ozwKaP" data-default-tab="html" data-user="derekshull" data-embed-version="2" class="codepen"></p>
			</section>
			<section>
  				<h2>Secondary</h2>
				<p>
					<aris-button secondary>Secondary</aris-button>
					<aris-button secondary disabled>Secondary (Disabled)</aris-button>
				</p>
				<p data-height="107" data-theme-id="7527" data-slug-hash="ozwKaP" data-default-tab="html" data-user="derekshull" data-embed-version="2" class="codepen"></p>
			</section>
  		</sc-view>

		<sc-router></sc-router>

@@include('../../include/_footer.html', {
    "url": ""
})