@import '../../scss/general';
@import '../../scss/normalize-partials/input';

:host { 
  display: inline-block;
  position: relative;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:285px;
  border:none;
  border-bottom:1px solid #757575;
  background:rgba(255, 255, 255, 0);

  &:focus {
    outline:none;
  }

  &.valid, &:valid {
    border-bottom:1px solid $success-color;
  }

  &.invalid {
    border-bottom:1px solid $error-color;
  }
}

/* LABEL ====================================== */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label {
  top:-10px;
  font-size:14px;
  color:#5264AE;
}

input.valid ~ label, input:valid ~ label {
  top:-10px;
  font-size:14px;
  color:$success-color;
}

input.invalid:focus ~ label {
  top:-10px;
  font-size:14px;
  color:$error-color;
}

/* BOTTOM BARS ================================= */
.bar 	{ 
  position:relative; 
  display:block; 
  width:300px;
}

.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

input.valid ~ .bar:before, input.valid ~ .bar:after {
  background:$success-color;
}

input.invalid:focus ~ .bar:before, input.invalid:focus ~ .bar:after {
  background:$error-color;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}