@@include('../../include/_head.html', {
    "url": ""
})

		<sc-view remote class="view-home" route="^/$"></sc-view>
  		<sc-view class="view-colors" route="^/colors/(.*)"></sc-view>
  		<sc-view remote class="view-buttons" route="^/buttons/(.*)"></sc-view>
  		<sc-view remote class="view-inputs visible" route="^/inputs/(.*)">
  			<h1>Inputs</h1>
  			<p>
  				<aris-input placeholder="Name" id="test"></aris-input>
  			</p>
  		</sc-view>

		<sc-router></sc-router>

@@include('../../include/_footer.html', {
    "url": ""
})